
body{
	background-color: #293134;
	color: #FFFFFF;
}

/* モーダルウインドウ */
.modalDiv{
  background-color: #293134;
  border-color: #6D84BD;
}

h1{
	color: #FFFFFF;
}

header {
  background-color: #006287;
  border-bottom: #134069 solid 3px;
}

.active-li{
  background-color: #2d91b9;
	color: #FDFDFD;
}

/* 非アクティブなヘッダーのタブ */
.non-active_li{
  background-color: #1d1d23;
  color: #cfcfcf;
	/* #B9C2CC */
}

.non-active_li:hover{
	background-color: #80acbd;
}


.yajirushi_close{
	filter:invert(100%);
}
.yajirushi_open{
	filter:invert(100%);
}


.li_sel, .hl-border{
	color:	#c1e3ff;
}

.tool_button{
  background-color:  #C1D4E6;
	color: #2E2E2E;
}

.get_item_alert{
	background-color:  #E6E7E7;
	color: #2E2E2E;
}

.story_select_table tr{
  border: #70EBDE solid 1px;
}

.story_select_table tr td{
  border:#70EBDE solid 1px;
}

.story_select_table tr th{
  border:#70EBDE solid 1px;
}

/*フォームだけ白背景にする*/
input[type="number"]{
  -webkit-appearance: none;
}

select{
  background-color:white;
}

textarea{
  background-color:white;
}

