
body{
	background-color: #293134;
	color: #FFFFFF;
}

h1{
  margin:0px;
	color: #FFFFFF;
}

header {
  background-color: #006287;
  border-bottom: #999a9e solid 2px;
}

.active-li{
  background-color: #2d91b9;
	color: #FDFDFD;
}

/* 非アクティブなヘッダーのタブ */
.non-active_li{
  background-color: #1d1d23;
  color: #cfcfcf;
	/* #B9C2CC */
}

.non-active_li:hover{
	background-color: #80acbd;
}


.yajirushi_close{
	filter:invert(100%);
}
.yajirushi_open{
	filter:invert(100%);
}
/*ハイパーリンクのテキスト*/
.hl-border{
  border-bottom: #c1e3ff solid 2px;
}

.li_sel{
	color:	#c1e3ff;
}

.tool_button{
  background-color:  #C1D4E6;
	color: #2E2E2E;
}

.geti_alert{
	background-color:  #E6E7E7;
	color: #2E2E2E;
}

.page_sel_table tr{
  border: #70EBDE solid 1px;
}

.page_sel_table tr td{
  border:#70EBDE solid 1px;
}
.page_sel_table tr th{
  border:#70EBDE solid 1px;
}
