body{
	background-color: #fbfbfb;
	color: #000000;
}

/*ヘッダーのタブ*/
header {
  background-color: white; 
  border-bottom: gray solid 1px;
}

.active-li{
  background-color: #444444;
  border: #444444 solid 1px;
	color: #ebebeb;
  
}

/* 非アクティブなヘッダーのタブ */
.non-active_li{
  border: #444444 solid 1px;
  color: #303030; 
}

/* モーダルウインドウ */
.modalDiv{
  background-color: white;
  border-color:#474747;
}

/* ページの選択肢、ハイパーリンクのテキストのフォントカラー */
.li_sel, .hl-border{
	color:	#911616;
}


/* 戻る、スキップ、アイテム表示などのツールボタンの色 */
.tool_button{
  background-color: #bfbfbf;
  color: #1b1b1b;
}

/* 新規アイテム入手時のアラート色 */
.get_item_alert{
	background-color:  #b32c2d;
	color: #eaeaea;
}

/* ページ選択用の表 枠の色、フォントの色 */
.story_select_table tr, td, th{
  border: gray solid 1px;
  color: black;
}
