h1{
	color: #eaeaea;
}

header {
  background-color: #2e3235;
}

.active-li{
  background-color: #7b7b7b;
	color: #eaeaea;
}

/* 非アクティブなヘッダーのタブ */
.non-active_li{
  color: #ececec;
}
/* 非アクティブなヘッダーのタブ */
.non-active_li:hover{
	background-color: #5d645f;
}

.body{
	background-color: #fbfbfb;
	color: #515151;
}

.li_sel{
	color:	#911616;
}

/*ハイパーリンクのテキスト*/
.hl-border{
  border-bottom: #911616 solid 1px;
}

.tool_button{
  background-color: #000000;
  color:#eaeaea;
}


.geti_alert{
	background-color:  #b32c2d;
	color: #eaeaea;
}

.page_sel_table tr{
  border: gray solid 1px;
}

.page_sel_table tr td{
  border:gray solid 1px;
}
.page_sel_table tr th{
  border:gray solid 1px;
}
