/* 全体 */
body{
	background-color: #FFFFFF;
	color: #0A1C2E;
}

h1{
  margin:0px;
	color: #03A9F4;
}

header {
  background-color: #E6E8EB;
}

.active-li{
  background-color: #8FA5C4;
	color: #FFFFFF;
}

/* 非アクティブなヘッダーのタブ */
.non-active_li{
  color: #8FA5C4;
	/* #B9C2CC */
}

.non-active_li:hover{
	background-color:  #C1CEE1;
}


.modalDiv{
  background-color: white;
  border-color:#474747;
}


/* 選択肢 */
.li_sel, .li_sel a, .hl-border{
	color:	#1a66b3;
}

.tool_button{
  background-color: #8395A7;
	color: #FAFBFD;
}

.get_item_alert{
	background-color: #347D9F;
	color: #EBEBEB;
}

/* ストーリー選択テーブル */
.story_select_table tr{
  border: #123354 solid 1px;
	color: black;
}

.story_select_table tr td{
  border:#123354 solid 1px;
}
.story_select_table tr th{
  border: #123354 solid 1px;
}
