
body{
	background-color: white;
	color: #3D484D;
}

h1{
  margin:0px;
	color: #278DDD;
}

header {
  background-color: #E2E8EE;
}

.active-li{
  background-color: white;
	color: #3D454A;
}

/* 非アクティブなヘッダーのタブ */
.non-active_li{
  color: #6F7D87;
	/* #B9C2CC */
}


.tool_button{
  background-color: #E2E8EE;
	color: #000000;
}


.page_sel_table tr{
  border: #2A2E2E solid 1px;
	color: black;
}

.page_sel_table tr td{
  border:#2A2E2E solid 1px;
}
.page_sel_table tr th{
  border:#2A2E2E solid 1px;
}