/*ページ読み込み、ページ描写、アイテム、設定のdiv*/
    .mydiv{
      padding-top:10px;
      width:360px;
      height:550px;
      display:none;
    }

/*ページ読み込みへのボタン*/
    .btn_lod{
      background-color:#f0f0f0;
      box-shadow:3px 3px 0px 0px black;
      margin:5px;
    }

/*ページ描写へのボタン*/
    .btn_pag{
      background-color:#e0e0e0;
      margin:5px;
    }

/*もちものへのボタン*/
    .btn_ite{
      background-color:#cacaca;
      margin:5px;
    }

/*設定へのボタン*/
    .btn_set{
      background-color:#000000;
      color:white;
      font-weight: bold;
      margin:5px;
    }

/*ページ読み込みのinput fileのところ*/
    .load_div{
      border:#000000 double 4px;
      background-color:#f0f0f0;
    }

/*ページの選択肢*/
    .li_sel{
      color: cacaca;
      font-weight: bold;
      text-decoration: underline;
		font-size:x-large;
    }


    .div_border{
      padding: 10px;
      border:black solid 3px;
    }
    

    
