body{
	background-color:#3a3a3f;
	color:#f4f2de;
}
/*ページ読み込み、ページ描写、アイテム、設定のdiv*/
    .mydiv{
      padding-top:10px;
      width:360px;
      height:550px;
      display:none;
    }

/*ページ読み込みへのボタン*/
    .btn_lod{
      background-color: #fcfccd;
      box-shadow:3px 3px 0px 0px black;
      margin:5px;
    }

/*ページ描写へのボタン*/
    .btn_pag{
      background-color: #e1e1ba;
      margin:5px;
    }

/*もちものへのボタン*/
    .btn_ite{
      background-color: #cecf9f;
      margin:5px;
    }

/*設定へのボタン*/
    .btn_set{
      background-color:#2f5f3f;
      color:white;
      font-weight: bold;
      margin:5px;
    }

/*ページ読み込みのinput fileのところ*/
    .load_div{
      border:#caa156 double 4px;
      background-color:#4a4a4f;
    }

/*ページの選択肢*/
    .li_sel{
      color: #efba5f;
      font-weight: bold;
      text-decoration: underline;
		font-size:x-large;
    }


    .div_border{
      padding: 10px;
      border:#caa156 solid 3px;
      background-color: #4a4a4f/*#3f3f43;*/
    }
